<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metadata Form Success</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/FormStyle.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
<h1 style="margin-left: 300px">Success!</h1>
<form method="post">
    <input class="form-control" type="submit" name="Button" value="OK" style="margin-left: 300px;width: auto">
</form>
</body>
</html>